<template name="beforeOrder">
  <div class="container" id="beforeorderpanel">

  {{#markdown}}
#You Should Know That...

##This is a Salary Sacrifice scheme
We'll reduce your salary every month. The amount is fixed and this reduction happens before your Tax and National Insurance is calculated.
The savings quoted on this website are for illustration purposes only. Some months you may save more than the amount quoted. This depends on whether your overall tax situation means you fall into a higher or lower tax bracket. Whenever you are in the higher tax bracket, you could save more.
The savings are because your pay is reduced before your tax and NI is calculated. Less pay means less tax & NI.
For the deal you have selected you'll save at least **£{{$.Session.get 'saving'}}** per month by paying less tax and NI. Some months you may save more.

##Your Salary is Reduced
On your payslip you will always see your Gross Salary (your salary before tax) **reduced by £{{$.Session.get 'monthlydeduction'}}** (incl. VAT). We'll do this every month for **{{$.Session.get 'term'}} months**.
In total, you'll pay us **£{{$.Session.get 'totalcost'}}** (incl. VAT). You get some of this back by paying less tax and NI.
Once we accept your application, you'll have 7 days to change your mind. Contact your Scheme Administrator or Customer Services on 0870 4607709 (calls charged at National Rate) to cancel your order.
Prices quoted on this website are valid for 14 days.
Product Compatibility
When you order a Handset and SIM together we'll do our best to ensure they are compatible with each other and the network you have chosen. We are unable to guarantee compatibility when you order a SIM or a Handset separately for use with your own equipment. Please check with your mobile network provider and handset manufacturer before ordering.

##Delivery
Delivery is not immediate, and may be some time after your application. All applications require approval by your HR department prior to despatch. We will attempt to contact you prior to despatch. You, or someone at your address, may be required to sign to accept delivery. At certain times of the year, such as Christmas and New Year, there may be a delay in processing and despatching your order - we will publish this on the front page of the website.
Insurance
There is no insurance for loss, accidental damage or theft included with this contract. It is your responsibility to take out separate insurance if required.
Handset Ownership
To qualify for the tax and NI savings the handset must be returned at the end of the 2 year hire period.

##There's some not-so-small Print
This is an application for credit, regulated by the Consumer Credit Act 1974.
Under this Agreement you have potential liabilities upon default (breaking the agreement). You may be liable for.

* Redelivery or Recollection charges,
* Cost of replacing missing components,
* Costs of repossessing Product[s].

##Credit Checking
You will not be credit checked as part of the application process.

##About Your Tariffs & Account
In entering into this Mobile agreement, you are entering into a business 
  tariff. Exertis Micro-P are the account holder and you will only be able to 
  access your account information by contacting Exertis Micro-P. To contact 
  Exertis Micro-P you can either ring us on 0870 460 7709 (All calls are 
  charged at the National rate) or emailing salarysacrifice@exertismicro-p.co.uk.

##Product Availability
All products, deals, offers and tariffs subject to availability. In the event 
  your chosen product is out of stock or has had the specification changed by 
  the manufacturer, we will contact you.

##Overspends and Direct Debit
You must pay for any overspend that you incur on your monthly tariff e.g. once 
  you go over your package of minutes, data, text or if you use your phone for 
  picture messaging, voicemail, entering competitions, premium rate numbers or 
  internationally for example. Failure to pay for any out of bundle charges may 
  result in suspension or termination and any outstanding debt being passed to 
  a third party for collection. Your salary sacrifice deduction will continue 
  during this time.
  
##Your Application
We'll now ask you to complete an online form.
  So you know, your agreement will be with {{$.Session.get 'schemecompany'}}, {{$.Session.get 'schemecompanyaddress'}}
  Please note it is the employee's responsibility to update {{$.Session.get 'exertismicrop'}} of any change in personal details, particularly email address to allow us to contact you. Please contact 0870 4607709 or email salarysacrifice@exertismicro-p.co.uk with any changes.

    
  {{/markdown}}
      <div class="container">
    <a class="btn btn-lg btn-block btn-danger" href="{{pathFor 'applicationForm'}}">Okay, let me apply</a>
    <a class="btn btn-lg btn-block btn-danger cancelapplynow" data-tariff="{{_id}}">CANCEL</a>
    </div>

  </div>
  
</template>