<template name='product'>
   <div class="col-md-3 product">
     <div class="panel panel-danger" data-price="{{fromAmount}}" data-label="{{label}}">
       {{#if showingproductdetails}}
       {{> productDetails}}
       {{else}}
       {{> productTeaser}}
       {{/if}}
     </div>
  </div>
       
 </template>


<template name="productTeaser">
  <div class="panel-heading">
                    <h4 class="text-center">
                      {{label}}</h4>
                </div>
                <div class="panel-body text-center hideonapplynow">
                    <p class="lead">
                      <strong>from &pound;{{pricefrom}} / month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center hideonproductdetails">
                  <li class="list-group-item"><i class="icon-ok text-danger"></i><img src="{{frontpageimage}}"></li>
                  <li class="list-group-item"><i class="icon-ok text-danger"></i>{{#each networkLogos}}{{> networkLogo}}{{/each}}</li>                    
                </ul>

  <div class="panel-footer">
                  <a class="btn btn-lg btn-block btn-danger viewoffers hideonproductdetails" data-product="{{_id}}">VIEW OFFERS</a>
                </div>
  
</template>



<template name="productDetails">
<div class="panel-heading">
                    <h4 class="text-center">
                      {{label}}</h4>
                </div>
                <div class="panel-body text-center hideonapplynow">
                    <p class="lead">
                      <strong>from &pound;{{pricefrom}} / month</strong></p>
                </div>
                 <div class="row hideonapplynow">
                   <div class="col-md-2 text-center">
                     <img src="{{frontpageimage}}">
                   </div>
                   <div class="col-md-6">
                     <img src="{{specimage}}">
                   </div>
                   <div class="col-md-4">
                     Available on:<br/>
                     {{#each networkLogos}}{{> networkLogo}}{{/each}}
                   </div>
                 </div>

               {{> tariffs}}
       
                <div class="panel-footer hideonapplynow">
                  <a class="btn btn-lg btn-block btn-danger viewallproducts">VIEW ALL PRODUCTS</a>
                </div>
  
</template>




<template name='networkLogo'>
  <img src="{{this}}">
</template>