div.footer {
  max-height:80px;
}

div.footer img {
  width: 100%;
}

#beforeorderpanel {
  display:none;
}


body {
  /*background-image: url('/img/stockvault-grungy-wood-texture125411.jpg');*/
  background-image: url('/img/green_suburb.jpg');
}

#main {
  top: 180px;
}



.space-below-10 {
  margin-bottom: 10px;
}

.space-below-20 {
  margin-bottom: 20px;
}

nav#menu {
  min-height: 200px;
}