<template name='adminHome'>
  <h1>Content</h1>

  {{> createButton}}
  
  <div class="well">
    <div class="row">
      {{#if currentUser}}
      {{> reactiveTable collection=content settings=settings}}
      {{/if}}
    </div>
  </div>
  
  {{> createButton}}

</template>



<template name="content">
  <span class="truncateme">{{content}}</span>
</template>



<template name="contentActions">
  <a href="{{pathFor 'updateContent' this}}"> <span class="glyphicon glyphicon-pencil"></span></a>
  <a href="#" class="delete" id="{{_id}}"> <span class="glyphicon glyphicon-remove"></span></a>
</template>



<template name="createButton">
  <div class="row space-below-20">
    <form role="form" class="pull-right">
      <a href="{{pathFor 'createContent'}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"> Create</span></a>
    </form>
  </div>
</template>
