<template name='adminHome'>  
  {{#if currentUser}}
    {{> contentList}}
    {{> placeholderList}}
  {{/if}}  
</template>



<template name='contentList'>
  <div class="well">
    <div class="row">
      <div class="col-md-6"><h1>Content</h1></div>
      <div class="col-md-6">{{> createContentButton}}</div>
    </div>
  </div>
  
  
  <div class="well">
    <div class="row">
      {{> reactiveTable collection=content settings=settings}}
    </div>
  </div>
  
</template>



<template name='placeholderList'>
  <div class="well">
    <div class="row">
      <div class="col-md-6"><h1>Placeholders</h1></div>
      <div class="col-md-6">{{> createPlaceholderButton}}</div>
    </div>
  </div>
  
  <div class="well">
    <div class="row">
      {{ > reactiveTable collection=placeholders settings=settings}}
    </div>
  </div>
  
</template>





<template name="content">
  <span class="truncateme">{{content}}</span>
</template>



<template name="contentActions">
  <a href="{{pathFor 'updateContent' this}}"> <span class="glyphicon glyphicon-pencil"></span></a>
  <a href="#" class="delete" id="{{_id}}"> <span class="glyphicon glyphicon-remove"></span></a>
</template>



<template name="createContentButton">
  <div class="row space-below-20">
    <form role="form" class="pull-right">
      <a href="{{pathFor 'createContent'}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"> Create</span></a>
    </form>
  </div>
</template>



<template name="createPlaceholderButton">
  <div class="row space-below-20">
    <form role="form" class="pull-right">
      <a href="{{pathFor 'createPlaceholder'}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"> Create</span></a>
    </form>
  </div>
</template>
