<template name='updatePlaceholder'>
  <h1>Update Placeholder</h1>
  {{# autoForm collection="Placeholders" id="updatePlaceholder" type='update' doc=this}}
    
    <div class="row">
      <div class="col-md-2">
        {{> afQuickField name='scheme' autofocus='' options=schemeAllowedValues}}
      </div>
      <div class="col-md-2">
        {{> afQuickField name='placeholderName'}}      
      </div>
      <div class="col-md-2">
        {{> afQuickField name='value'}}      
      </div>
    </div>

   {{> buttonsUpdate}}

  {{/autoForm}}
</template>

